* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: inter;
    src: url(../font/Inter-Regular.ttf);
}

@mixin for_text ($ff, $fw, $fs, $lh, $ta, $ls) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    text-align: $ta;
    letter-spacing: $ls;
}

.wrap {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .title {
        width: 55%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .h1 {
            @include for_text(inter, 700, 48px, 57px, left, 1px)
        }

        .static {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .li1 {
                    @include for_text(inter, 400, 14px, 17px, left, 1px)
                }
            }
        }
    }

    .color {
        color: red;
    }

    .inputs {
        width: 70%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        


        .form {
            height: 87%;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .but1 {
                width: 50%;
                height: 45px;
                background-color: blue;
                color: white;
                border-radius: 5px;
                border: none;
            }

            .but1:hover:focus:hover {
                background-color: white;
                color: blue;
                border: 1px solid black;
            }

            .main {
                width: 100%;
                height: 100%;
                display: grid;
                justify-items: center;
                align-items: center;
                grid-template-columns: repeat(2, 1fr);

                .forms {
                    width: 300px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;

                    label {
                        width: 100%;
                        @include for_text(inter, 400, 14px, 17px, left, 1px)
                    }

                    .p1 {
                        color: #595959;
                        @include for_text(inter, 400, 11px, 14p, left, 1px)
                    }

                    input {
                        padding: 10px;
                        width: 100%;
                        height: 45px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        border-radius: 5px;
                        border: 2px solid black;
                        @include for_text(inter, 400, 14px, 17px, left, 1px);
                    }

                    .border {
                        border: 2px solid blue;
                    }

                    .r_border {
                        border: 2px solid red;
                    }
                }
            }
        }
    }
}